<form class="ui form warning" [formGroup]="roomForm" (ngSubmit)="onSubmit()">
    <div class="field">
        <app-input [label]="'Room Number'" [control]="roomNumberController" [required]="true"/>
    </div>
    <div class="field">
        <app-input [label]="'Room Type'" [control]="roomTypeController" [required]="true"/>
    </div>
    <div class="field">
        <app-input [label]="'Capacity'" [control]="capacityController" [required]="true"/>
    </div>
    <!-- Remark -->
    <div class="field">
        <label>Remark</label>
        <textarea rows="2" placeholder="Any additional notes..." formControlName="remark"></textarea>
    </div>
    @if (isLoading){
        <button class="ui loading button">Loading</button>
    } @else {
        <button type="submit" class="ui button right floated" [disabled]="!roomForm.valid">Submit</button>
        <button type="button" class="ui button right floated" (click)="onCancel()">Cancel</button>
    }
</form>
