
@if (house) {
    <app-house-header [house]="house"
                      (onHouse)="onHouseEdit(house)"
                      (onRoomAdd)="openRoomForm()"
    ></app-house-header>
    @if (rooms$ | async; as rooms) {
        <room-list [houseId]="house.id"
                   [houseName]="house.name"
                   [rooms]="rooms"
        ></room-list>
    } @else {
        <div class="ui message">There is no Rooms</div>
    }
}
@if (modalOpen){
    <app-modal (close)="onSubmit()">
        <div modal-title>House Edit</div>
        <house-edit modal-content
                    (submitted)="onSubmit()"
                    [isEdit]="true"
                    [house]="house"></house-edit>
    </app-modal>
}

@if(modalStates.houseEdit && house){
  <app-modal (close)="closeAllModals()">
        <div modal-title>Confirm Delete</div>
        <div modal-content>
            <p>
                Are you sure you want to delete
                <strong>{{ house?.name }}</strong>?
            </p>
            <p class="ui red text">
                This action cannot be undone.
            </p>
        </div>
        <div modal-actions>
            <button class="ui button">Confirm</button>
            <button class="ui negative labeled tiny icon button"
                    (click)="deleteHouse(house)">
                <i class="trash icon"></i>
                Confirm
            </button>
        </div>
  </app-modal>
}

@if (modalStates.roomForm) {
    <app-modal (close)="closeAllModals()">
        <div modal-title>
            <h4>Add Room in "{{house.name}}"</h4>
        </div>
        <app-room-form modal-content
                [isEditMode]="false"
                [houseId]="house.id"
        ></app-room-form>
    </app-modal>
}
