
@if (house) {
   <div class="ui grid">
       <div class="four wide column">
           <app-house-card [house]="house"
                             (onHouse)="onHouseEdit(house)"
                             (onRoomAdd)="openRoomForm()"
           ></app-house-card>
       </div>
       <div class="twelve  wide column">
           <room-list [houseId]="house.id"
                      [houseName]="house.name"
                      [rooms$]="rooms$"
           ></room-list>
       </div>
   </div>
}
@if (modalOpen){
    <app-modal (close)="onSubmit()">
        <div modal-title>House Edit</div>
        <house-edit modal-content
                    (submitted)="onSubmit()"
                    [isEdit]="true"
                    [house]="house"></house-edit>
    </app-modal>
}

@if(modalStates.houseEdit && house){
  <app-modal (close)="closeAllModals()">
        <div modal-title>Confirm Delete</div>
        <div modal-content>
            <p>
                Are you sure you want to delete
                <strong>{{ house?.name }}</strong>?
            </p>
            <p class="ui red text">
                This action cannot be undone.
            </p>
        </div>
        <div modal-actions>
            <button class="ui button">Confirm</button>
            <button class="ui negative labeled tiny icon button"
                    (click)="deleteHouse(house)">
                <i class="trash icon"></i>
                Confirm
            </button>
        </div>
  </app-modal>
}

@if (modalStates.roomForm) {
    <app-modal (close)="closeAllModals()" [closeOnBackdrop]="false">
        <div modal-title>
            <h4>Add Room in "{{house.name}}"</h4>
        </div>
        <app-room-form modal-content
                [isEditMode]="false"
                [houseId]="house.id"
                (formSubmitted)="closeAllModals()"
        ></app-room-form>
    </app-modal>
}
