
<app-divider>
    House Details
</app-divider>
@if (house) {
    <div class="ui raised very padded text  segment">
        <h2 class="ui header">
            <i class="home icon"></i>
            <div class="content">
                {{ house.houseName }}
                <div class="sub header">{{ house.address }}</div>
            </div>
        </h2>
        <div class="ui divider"></div>

        <div class="ui grid">
            <div class="eight wide column">
                <h4 class="ui header">Description</h4>
                <p>{{ house.description }}</p>
            </div>
            <div class="eight wide column">
                <h4 class="ui header">Notes</h4>
                <p>{{ house.notes }}</p>
            </div>
        </div>

        <div class="ui divider"></div>

       <div >

           <h3 class="ui header">
               <i class="bed icon"></i>
               <div class="content">Rooms</div>
           </h3>
           <button class="ui right floated very basic button">Add Room</button>
       </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Room Number</th>
                <th>Capacity</th>
                <th>Notes</th>
                <th>Status</th>
                <th>Updated</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @for (room of house.rooms; track room.id) {
                    <tr >
                        <td>{{ room.room_number }}</td>
                        <td>
                            <div class="ui label">
                                <i class="users icon"></i>
                                {{ room.capacity }}
                            </div>
                        </td>
                        <td>{{ room.notes }}</td>
                        <td>{{ room.createdDate | date:'medium' }}</td>
                        <td>Assign Tenant</td>
                        <td>
                            <div class="ui label">
                                <i class="icon sidebar"></i>
                            </div>
                            <a [routerLink]="['/rooms',room.id]" class="small ui button">View</a>
                            <div class="ui icon buttons">
                                <button class="ui button"><i class="eye icon"></i></button>
                                <button class="ui button"><i class="align center icon"></i>View</button>
                                <button class="ui button"><i class="align right icon"></i></button>
                                <button class="ui button"><i class="align justify icon"></i></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


