@if (tenant) {
<div class="ui grid">
    <div class="four wide column">
        <app-avatar-header [imageUrl]="'assets/images/tenant-avatar.png'"
                           [tittle]="tenant.fullName"
                           [subTitle]="tenant.tenantCode"
        />
        <!--  other-fields from profile       -->
        <app-info-list
                [title]="'About'"
                [infoItems]="aboutItems"
                [showDivider]="true">
        </app-info-list>
        <app-info-list
                [title]="'Address'"
                [infoItems]="aboutAddress"
                [showDivider]="true">
        </app-info-list>
        <app-info-list
            [title]="'Tenant Details'"
            [infoItems]="aboutTenantDetails"
            [showDivider]="true">
        </app-info-list>
<!--        Quick actions-->
<!--        Edit profile-->
<!--        Assign room-->
<!--        Add payment-->
    </div>
    <div class="twelve wide column">
        <div class="ui container">
            <h4 class="ui horizontal divider header">
                <i class="bar chart icon"></i>
                Specifications
            </h4>
            <div class="ui secondary pointing menu">
                <a routerLink="/finances" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">Summary</a>
                <a routerLink="transactions" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">Transactions</a>
                <a routerLink="budgets" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="item">Budgets</a>
            </div>
            <div class="ui segment">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--        <app-payment-summary />-->
<!--        <app-tenant-tabs>-->
<!--            ├── <app-rent-history-table />-->
<!--            ├── <app-payment-table />-->
<!--            ├── <app-documents />-->
<!--            └── <app-notes />-->
<!--        </app-tenant-tabs>-->
    </div>
</div>
}
