<label class="label " [ngClass]="{required:required}">{{label}}</label>
<input type="text"  [formControl]="control">
<div class="ui warning message">
  @if(isValid){
    <div class="header">Could you check {{label}} input field!</div>
  }
  @if (maxLengthError && isValid){
    <p>Value you entered is {{maxLengthError.actualLength}} characters long it
      can not be longer than {{maxLengthError.requiredLength}} characters.
    </p>
  }
  @if (minlengthError){
    <p>Value you entered is {{minlengthError.actualLength}} characters long it must be
      at least {{minlengthError.requiredLength}} characters.
    </p>
  }
  @if(control.errors?.['pattern']){
    <p>Invalid Format</p>
  }
</div>
