<header class="app-header">
    <nav class="nav-bar">
        <div class="logo">Tenant Management</div>
        <ul class="nav-links">
            <li><a routerLink="views" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Views</a></li>
            <li><a routerLink="collections" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Collections</a></li>
            <li><a routerLink="accounts" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accounts</a></li>
            <li><a routerLink="finances" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}">Finances</a></li>
            <li><a routerLink="houses" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">House</a></li>
        </ul>
        <div class="menu-toggle" (click)="toggleMenu()">☰</div>
    </nav>
</header>
