

<div class="table-header">
    <h1> Tenant List</h1>
    <div>
        <button class="ui secondary button " (click)="openCreateTenantModal()">Add Tenant</button>
    </div>
</div>

<div class="ui">
    <table class="ui  striped table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        @if ((tenant$ | async)?.length) {
            <tbody>
                @for (tenant of tenant$ | async; track tenant.id; let i = $index) {
                    <tr>
                        <td>{{i+1}}</td>
                        <td>
                            <a [routerLink]="['/tenants/',tenant.id]">{{tenant.fullName}}</a>
                        </td>
                        <td>{{tenant.phone}}</td>
                        <td>{{tenant.email}}</td>
                        <td>
                            <app-tenant-status-badge [status]="tenant.status"
                            ></app-tenant-status-badge>
                        </td>
                    </tr>
                }
            </tbody>
        } @else {
            <tr>
                <td colspan="5" class="text-center">No tenants found.</td>
            </tr>
        }
    </table>

    <!-- Pagination -->
    <app-pagination
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [totalElements]="meta?.totalElement ?? 0"
            [pageSizeOptions]="[5, 25, 50, 100]"
            (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
</div>


@if (modalState.openCreateTenant){
    <app-modal (close)="closeCreatTenantModal()">
        <div modal-title>
            Create Tenant
        </div>

        <div modal-content>
            <app-tenant-form
                    (cancel)="closeCreatTenantModal()"
                    (saved)="closeCreatTenantModal()">
            </app-tenant-form>
        </div>

        <div modal-actions>
            <!-- Optional: actions can live inside tenant form -->
        </div>
    </app-modal>
}
