
<!--<div style="display: flex;align-items: center">-->
<!--    <app-divider>-->
<!--        Tenant List-->
<!--    </app-divider>-->
<!--    <div style="margin-left: auto">-->
<!--        <button class="ui button">Add New</button>-->
<!--    </div>-->
<!--</div>-->

<div class="header">
    <app-divider>Tenant List</app-divider>
    <button class="ui button">Add New</button>
</div>


<div class="ui">
    <table class="ui celled padded striped table">
        <thead>
            <tr>
                <th>Tenant Code</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
        </thead>
        @if ((tenant$ | async)?.length) {
            <tbody>
                @for (tenant of tenant$ | async; track trackByTenantId) {
                    <tr>
                        <td>
                            <a [routerLink]="['/tenants/',tenant.id]">
                                {{tenant.tenantCode}}
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/tenants/',tenant.id]">{{tenant.fullName}}</a>
                        </td>
                        <td>{{tenant.phone}}</td>
                        <td>{{tenant.email}}</td>
                        <td>
                            <app-tenant-status-badge [status]="tenant.status"
                            ></app-tenant-status-badge>
                        </td>
                    </tr>
                }
            </tbody>
        } @else {
            <tr>
                <td colspan="5" class="text-center">No tenants found.</td>
            </tr>
        }
    </table>

    <!-- Pagination -->
    <app-pagination
            [pageNo]="pageNo"
            [pageSize]="pageSize"
            [totalElements]="meta?.totalElement ?? 0"
            [pageSizeOptions]="[5, 25, 50, 100]"
            (pageChange)="onPageChange($event)"
            (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>
</div>
