/* You can add global styles to this file, and also import other style files */

.mt-4{
  margin-top: 8px;
}

/* styles.css or component css */

/* Reset some spacing */
body, ul {
    margin: 0;
    padding: 0;
}

/* Flex column layout */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}
/* Main should expand to push footer down */
.app-content {
    flex: 1;
    padding: 1rem;
}

