<div class="ui container">
    <h4 class="ui horizontal divider header">
        <i class="bar chart icon"></i>
        Specifications
    </h4>
    <div class="ui secondary pointing menu">
        <a routerLink="transactions" routerLinkActive="active" class="item">Transactions</a>
        <a routerLink="budgets" routerLinkActive="active" class="item">Budgets</a>
        <a routerLink="/finances" routerLinkActive="active" class="item">Summary</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>
