

<!--<form (ngSubmit)="createTenant()">-->
<!--    <input [(ngModel)]="tenant.fullName" name="fullName" placeholder="Full Name" required>-->
<!--    <input [(ngModel)]="tenant.phone" name="phone" placeholder="Phone" required>-->
<!--    <input [(ngModel)]="tenant.email" name="email" placeholder="Email" type="email" required>-->
<!--    <select [(ngModel)]="tenant.gender" name="gender">-->
<!--        <option value="FEMALE">Female</option>-->
<!--        <option value="MALE">Male</option>-->
<!--        <option value="OTHER">Other</option>-->
<!--    </select>-->
<!--    <button type="submit" [disabled]="isLoading">Create</button>-->
<!--</form>-->

<!--<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>-->


<!--<h2>{{ isEditMode ? 'Edit Tenant' : 'Create Tenant' }}</h2>-->
<!--<form (ngSubmit)="onSubmit()">-->
<!--    <input formControlName="name" placeholder="Full Name" />-->
<!--    <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>-->
<!--</form>-->

<div class="form-margin">
    <h2 class="ui header"> Manage Tenants</h2>
    <div class="ui">
        Effortlessly track, edit and organize your tenants.
    </div>
</div>
<div class="ui horizontal divider">&</div>

<form class="ui form">
    <div class="field">
        <label for="fullName">Full Name</label>
        <input type="text" name="fullName" placeholder="Full Name">
    </div>

    <div class="field">
        <label for="phone">Phone</label>
        <input type="number" name="phone" placeholder="09 963 009 283">
    </div>

    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="yourmail@example.com">
    </div>

    <button type="button" class="ui button"> Submit</button>
</form>
