<!--<h2>{{ isEditMode ? 'Edit Tenant' : 'Create Tenant' }}</h2>-->
<!--<form (ngSubmit)="onSubmit()">-->
<!--    <input formControlName="name" placeholder="Full Name" />-->
<!--    <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>-->
<!--</form>-->

<form class="ui form" [formGroup]="tenantForm" (ngSubmit)="onSubmit()">
    <p>Complete the form to enable the submit button</p>
    <p>Form status: {{tenantForm.status}}</p>
    <div class="field">
        <app-input [label]="'Full Name'" [control]="tenantForm.controls.fullName" [required]="true" />
    </div>

    <div class="field">
      <app-input [label]="'Phone'" [control]="tenantForm.controls.phone" [required]="true" />
    </div>

    <div class="field">
        <app-input [label]="'Email'" [control]="tenantForm.controls.email" [required]="true"/>
    </div>
    <div class="field">
        <app-fui-select
                label="Gender"
                placeholder="Select Gender"
                formControlName="gender"
                [options]="genders">
        </app-fui-select>
    </div>
    <div class="ui divider"></div>

    <div class="ui right aligned actions">
        <button
                type="button"
                class="ui button"
                (click)="onCancel()">
            Cancel
        </button>

        <button
                type="button"
                class="ui primary button"
                [disabled]="tenantForm.invalid"
                (click)="submit()">
            Save
        </button>
    </div>
</form>
