@if (rooms$ | async; as rooms) {
    @if (rooms.length!==0){
            <div class="ui grid">
                <div class="eight wide column">
                    <h3 class="ui header">
                        <i class="bed icon"></i>
                        <div class="content">
                            Rooms In House {{houseName}}
                            <div class="sub header">
                                Manage rooms under this house
                            </div>
                        </div>
                    </h3>
                </div>
            </div>

            <table class="ui single line  table">
                <thead>
                <tr>
                    <th>Room</th>
                    <th>Room Type</th>
                    <th>Capacity</th>
                    <th>Status</th>
                    <th></th>
                    <th class="right aligned">Actions</th>
                </tr>
                </thead>
                <tbody>
                    @for (room of rooms; track room.id) {
                        <tr>
                            <!-- Room Number -->
                            <td>
                                <strong>{{ room.roomNumber }}</strong>
                            </td>
                            <td>
                                {{ room.roomType}}
                            </td>
                            <td>
                                <div class="ui small label">
                                    <i class="users icon"></i>
                                    {{ room.capacity }}
                                </div>
                            </td>
                            <td>
                                <div  class="ui small label"
                                        [ngClass]="{
                                        'green': room.roomStatus === 'AVAILABLE',
                                        'red': room.roomStatus === 'OCCUPIED',}">
                                    {{ room.roomStatus }}
                                </div>
                            </td>
                            <td>
                                <a class="ui link" [routerLink]="['/houses',houseId,'rooms',room.id,'tenants']">View Tenants</a>
                            </td>
                            <!-- Actions -->
                            <td class="right aligned">
                                <div class="ui small icon buttons">
                                    <button class="ui button" (click)="onEditRoom(room)"
                                            title="Edit room">
                                        <i class="edit icon"></i>
                                    </button>
                                    @if (room.roomStatus === 'AVAILABLE'){
                                        <button
                                                class="ui button"
                                                title="Assign tenant"
                                        >
                                            <i class="user plus icon"></i>
                                        </button>
                                    }
                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        <router-outlet></router-outlet>
    } @else {
        <div class="ui message">
            <p>There are no rooms in this house yet.</p>
        </div>
    }

    @if (modalConfig.openEditRoomModal) {
        <app-modal [closeOnBackdrop]="false" (close)="closeAllModals()">
            <div modal-title>
                Editing Room from {{houseName}}
            </div>
            <app-room-form modal-content
                           [isEditMode]="false"
                           [houseId]="houseId"
                           [room]="selectedRoom"
                           (formSubmitted)="closeAllModals()"

            ></app-room-form>
        </app-modal>
    }
}
