<!--<button class="ui basic button" (click)="addNewHouse()">Add House</button>-->
<app-divider>
    House Overviews
</app-divider>
<div class="ui">
    <table class="ui celled padded striped table">
      <thead>
        <tr>
            <th>#House Code</th>
            <th class="single line">Unit</th>
            <th>Address</th>
            <th>Status</th>
            <th>Room (Vacant/Total)</th>
        </tr>
      </thead>
        <tbody>
            @for (house of house$ | async; track house.id) {
                <tr>
                    <td>{{house.houseCode}}</td>
                    <td>{{ house.houseName }}</td>
                    <td>{{ house.address }}</td>
                    <td>{{ house.houseStatus }}</td>
                    <td class="left aligned">
                        80% / <a href="#">18 studies</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">5 Houses</td>
            <td colspan="2">Total Room: 40</td>
            <td colspan="2">2 House fully occupied.</td>
        </tr>
        </tfoot>
    </table>
</div>


<!--
| Unit Name   | Address          | Number of Rooms | Notes                 |
| ----------- | ---------------- | --------------- | --------------------- |
| Green Villa | 123 Main Street  | 5               | Renovation next month |
| Blue Condo  | 45 Ocean Ave     | 10              | Fully occupied        |
| City Hostel | 88 Downtown Road | 20              | Available for booking |
-->
