<div (click)="onCloseClick()" class="ui dimmer visible active">
    <div (click)="$event.stopImmediatePropagation()"  class="ui modal visible active">
        <i (click)="onCloseClick()" class="close icon"></i>
        <!-- Title -->
        <div class="header">
            Hello
        </div>
        <div class="content">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the  image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
        </div>
        <div class="actions">
            <div class="actions">
                <div class="ui approve button">Approve</div>
                <div class="ui button">Neutral</div>
                <div (click)="onCloseClick()" class="ui cancel button">Cancel</div>
            </div>
        </div>
    </div>
</div>
